* {
  scroll-behavior: smooth;

  background-color: #fbf4eb;
}

/* css rules that override any other formatting */

a {
  text-decoration: underline;
  text-underline-offset: 2.5px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 9pt;
  color: #214343;
  background: transparent;
}

ul {
  list-style: none;
  background: transparent;
}

img {
  margin-left: 8.5%;
  margin-top: 2%;
  background: transparent;
}

body {
  padding: 3%;
}

/* GRIDSSS*/
/* grid positioning and template area turorial by Scrimba on youtube.
https://www.youtube.com/watch?v=6CiXrsUuJ7E&t=1s
https://youtu.be/wcOyRx-V6Fo?si=wQN5jAku9aCu9yRJ */

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 50px;
}

.content {
  grid-column: span 8;
  background: #c8cdcc;
  padding: 20px;
}

.menu {
  grid-column: span 4;
  padding: 20px;
}

.footer {
  grid-column: 1 / -1;
  padding: 20px;
}

/* FadeInUp Animation by Wassim Horan at 
https://codepen.io/whoran/pen/WNbxpML */

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
}

.animatedFadeInUp {
  opacity: 0;
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

/* Nav Bar
nav bar tutorial by Traversy Media on YouTube
https://youtu.be/HXYZxVbWkjc?si=rUZlTDI-1QRHcXKV */

.navbar {
  background: transparent;
  padding: 10px 0px;
}

.navbar .wrapper ul {
  display: flex;
  justify-content: right;
  align-items: center;
}

.navbar .main-menu ul {
  display: flex;
}

.navbar ul li a {
  padding: 10px 20px;
  display: block;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 9pt;
  transition: 0.5s;
}

/* Utility classes */

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  margin-right: 0px;
  padding: 0 0px;
}

/* Breakpoint - mobile */

@media (max-width: 600px) {
  h1 {
    color: #214343;
    font-family: "PlayfairDisplay-BoldItalic", serif;
    font-size: 45pt;
    font-style: italic;
    margin-top: 15%;
    background: transparent;
  }

  h2 {
    font-family: "PlayfairDisplay-Regular", serif;
    color: #0c1818;
    font-size: 15pt;
    background: transparent;
  }

  h3 {
    color: #0c1818;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 10pt;
    line-height: 1.5;
    background: transparent;
  }

  p {
    font-family: "Poppins", sans-serif;
    font-size: 8pt;
    color: #0c1818;
    line-height: 1.5;
    font-weight: 300;
    background: transparent;
  }

  img {
    height: auto;
    width: 50%;
  }
}

/* Breakpoint - Desktop */

@media (min-width: 601px) {
  h1 {
    color: #214343;
    font-family: "PlayfairDisplay-BoldItalic", serif;
    font-size: 65pt;
    background: transparent;
  }

  h2 {
    font-family: "PlayfairDisplay-Regular", serif;
    color: #0c1818;
    font-size: 20pt;
    background: transparent;
  }

  h3 {
    color: #0c1818;
    font-family: "Poppins", sans-serif;
    font-size: 12pt;
    font-weight: 500;
    line-height: 1.5;
    background: transparent;
  }

  p {
    font-family: "Poppins", sans-serif;
    font-size: 11pt;
    font-weight: 300;
    color: #0c1818;
    line-height: 1.5;
    background: transparent;
  }

  img {
    height: auto;
    width: auto;
    background: transparent;
  }
}

/* button group tutorial by 
Tech Talk Tutorials on YouTube. */

button {
  height: auto;
  width: 0 auto;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 11pt;
  justify-content: center;
  color: #fbf4eb;
}

.button-grp button {
  position: center;
  align-items: center;
  margin-left: 30%;
  background-color: #fbf4eb;
  border: 1.5px solid #5f5952;
  padding: 10px 15px;
  color: #214343;
  cursor: pointer;
}

.button-grp:after {
  content: "";
  clear: both;
  display: table;
}

.button-grp button:hover {
  background-color: #dad3ca;
  transition: 0.3s;
}

/* div class for anything that needs to be centered */
.section-center {
  margin-right: 40%;
  margin-left: 30%;
  margin-top: 5%;
  margin-bottom: 5%;
}
