* {
  scroll-behavior: smooth;

  background-color: #fbf4eb;
}

/*FONTS*/

@font-face {
  font-family: "PlayfairDisplay-BoldItalic";
  src: url("fonts/PlayfairDisplay-BoldItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "PlayfairDisplay-Regular";
  src: url("fonts/PlayfairDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("fonts/Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: url("fonts/Poppins-SemiBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins-Light";
  src: url("fonts/Poppins-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* GRIDSSS*/
/* grid positioning and template area turorial by Scrimba on youtube.
https://www.youtube.com/watch?v=6CiXrsUuJ7E&t=1s
https://youtu.be/wcOyRx-V6Fo?si=wQN5jAku9aCu9yRJ */

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1%;
}

.content {
  grid-column: span 8;
  padding: 2%;
}

.menu {
  grid-column: span 4;
  background: #d8e1e0;
  padding: 10%;
  align-self: start;
  margin-top: 35%;
}

.footer {
  grid-column: 1 / -1;
  padding: 5%;
}

/* FadeInUp Animation by Wassim Horan at 
https://codepen.io/whoran/pen/WNbxpML */

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.animated {
  animation-duration: 1.5s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
}

.animatedFadeInUp {
  opacity: 0;
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

/* horizontal and vertical rules */

hr {
  border: 0;
  height: 1.5px;
  background: #2b5858;
  background-image: linear-gradient(to right, #ccc, #2b5858, #ccc);
  margin-bottom: 5%;
  margin-top: 5%;
}

/* Nav Bar
nav bar tutorial by Traversy Media on YouTube
https://youtu.be/HXYZxVbWkjc?si=rUZlTDI-1QRHcXKV */
.navbar .main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Optional: Keep existing styles */
.navbar .nav-left,
.navbar .nav-right {
  display: flex;
  align-items: center;
}

.navbar ul li a {
  padding: 0px 40px;
  display: block;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 9pt;
  transition: 0.5s;
}

.navbar ul {
  margin-bottom: 0%;
  padding: 0;
  list-style: none;
}

/* Breakpoint - mobile */

@media (max-width: 600px) {
  h1 {
    color: #254b4b;
    font-family: "PlayfairDisplay-BoldItalic";
    font-size: 40pt;
    margin-left: 8%;
    background: transparent;
  }

  h2 {
    font-family: "PlayfairDisplay-Regular";
    color: #254b4b;
    font-size: 14pt;
    margin-left: 8.5%;
    line-height: 1.5;
    background: transparent;
  }

  h3 {
    color: black;
    font-family: "Poppins-SemiBold";
    font-size: 10pt;
    font-weight: 500;
    line-height: 1.5;
    margin-left: 8.5%;
    background: transparent;
  }

  p {
    font-family: "Poppins-Light";
    font-size: 8pt;
    font-weight: 300;
    color: black;
    line-height: 1.5;
    margin-left: 8.5%;
    margin-right: 10%;
    margin-top: 5%;
    background: transparent;
  }

  img {
    height: auto;
    width: 90%;
    background: transparent;
  }

  a {
    text-decoration: underline;
    text-underline-offset: 2.5px;
    font-family: "Poppins-Regular";
    font-size: 6pt;
    color: black;
    background: transparent;
  }

  body {
    padding: 1%;
  }
}

/* Breakpoint - Desktop */

@media (min-width: 601px) {
  h1 {
    color: #254b4b;
    font-family: "PlayfairDisplay-BoldItalic";
    font-size: 65pt;
    background: transparent;
  }

  h2 {
    font-family: "PlayfairDisplay-Regular";
    color: #254b4b;
    font-size: 28pt;
    line-height: 1.5;
    background: transparent;
  }

  h3 {
    color: black;
    font-family: "Poppins-SemiBold";
    font-size: 12pt;
    font-weight: 500;
    line-height: 1.5;
    background: transparent;
  }

  p {
    font-family: "Poppins-Light";
    font-size: 11pt;
    font-weight: 300;
    color: black;
    line-height: 1.5;
    margin-right: 10%;
    margin-top: 5%;
    background: transparent;
  }

  img {
    height: auto;
    width: auto;
    margin-top: 2%;
    background: transparent;
    background: transparent;
  }

  a {
    text-decoration: underline;
    text-underline-offset: 2.5px;
    font-family: "Poppins-Regular";
    font-size: 9pt;
    color: #254b4b;
    background: transparent;
  }

  body {
    padding: 5%;
  }
}

/* button group tutorial by 
Tech Talk Tutorials on YouTube. */

button {
  height: auto;
  width: 0 auto;
  font-family: "Poppins-Regular";
  font-weight: 400;
  font-size: 11pt;
  justify-content: center;
  color: #fbf4eb;
}

.button-grp button {
  position: center;
  align-items: center;
  margin-left: 30%;
  background-color: #fbf4eb;
  border: 2px solid #254b4b;
  padding: 10px 15px;
  color: black;
  cursor: pointer;
}

.button-grp:after {
  content: "";
  clear: both;
  display: table;
}

.button-grp button:hover {
  background-color: #d5e4e1;
  transition: 0.3s;
}

/* div class for anything that needs to be centered */
.section-center {
  margin-right: 25%;
  margin-left: 0%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.text-center {
  margin-right: 25%;
  margin-left: 25%;
  text-align: center;
}

.link-section {
  background: transparent;
}
